<h1>Current inventory</h1>

<table>
	<tr>
		<th>Product Name</th>
		<th>Quantity</th>
		<th>Price</th>
	</tr>
	<% @products.each do |product| %>
	<tr>
		<td><%= product.name %></td>
		<td><%= product.quantity %></td>
		<td><%= product.price %></td>
	</tr>
	<% end %>
</table>